{% extends 'base.html' %}

{% block head %}
<title>Synthetic data generator</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/compare.css') }}">
{% endblock %}

{% block body %}
<header style="position: sticky; top: 0; z-index: 1;">
    <nav class="navbar navbar-light bg-light" >
        <a class="navbar-brand" id="title" href="/">
            <img src="../static/images/logouca.png" alt="Logo herramienta uca" width="50" height="50" class="d-inline-block align-top">
            <div id="title_char">Synthetic Data Generator</div>
        </a>
        <!-- 3 options at right of the nav bar -->
        <div class="form-inline">
            <a href="/" class="btn btn-outline-success apartado" style="font-size: 1.4em">Home</a>
            {% if user.is_authenticated: %}
                <a href="/logout" class="btn btn-outline-success apartado" style="font-size: 1.4em">Logout</a>
            {% else: %}
                <a href="/login" class="btn btn-outline-success apartado" style="font-size: 1.4em">Login</a>
            {% endif %}
            <a href="/generate" class="btn btn-outline-success apartado" style="font-size: 1.4em">Generate</a>
            <a href="/about" class="btn btn-outline-success apartado" style="font-size: 1.4em">About</a>
        </div>
    </nav>
</header>
<div class="content">
    <h1 style="margin-top: 20px; color: #198754; text-decoration-line: underline;">Synthetic data quality</h1>
    <!-- we have to show rows of  3-4 plots with a descriction bellow of it showing the data type-->
    <h4 style="margin-top: 20px">The evaluation process made by SDMetrics gives a score of {{score}} of similarity</h4>
    <h1 style="margin-top: 20px; color: #198754; text-decoration-line: underline;">Columns comparison</h1>
    <!-- parragraph with the description of the columns comparison -->
    <p style="margin-top: 20px; text-align: center; width: 70em">In the following buttons you can see the similarity between the real and synthetic data of each column. When you click on a button, a pop-up window will show you a plot with the similarity between the real and synthetic data of that column. The data type of the column is also shown below the plot.</p>

    <div class="ColumnComparison">
        <div class="row" style="margin-bottom: 2em; margin-top: 1em">
            <!-- Now we need to make rows of 3 buttons, 1 button per column, and when you hit the button a little window pop-up an show the plot and information abaout the column also you can close the window-->
            {% for column in real_data.columns %}
            <div class="col" style="display: grid; justify-content: center; align-items: center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#{{id + column}}" style="width: 9em;">
                    {{column}}
                </button>
                <div class="modal fade" id="{{id + column}}" tabindex="-1" aria-labelledby="{{id + column}}Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="{{id + column}}Label">Similarity graphic on attribute {{column}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src=".{{C_PLOT_PATH + id + column}}.png" alt="Similarity graphic on attribute {{column}}" style="width: 100%">
                                <p style="text-align: left; margin-left: 2em;"><b> Data type:</b> <span style="color: black; text-decoration-line: underline">{{ real_data[column].dtype }}</span></p>
                                <!-- if the data type is numeric, we have to show the mean and the standard deviation of the original data vs the synthetic data. Truncate to show only 2 decimals -->
                                <!-- put mean real data bold and color purpleblack, then the result without any style. and in synthetic data put the mean bold and color cool cyan, then the result without any style -->
                                {% if real_data[column].dtype == 'int64' or real_data[column].dtype == 'float64' %}
                                    <p style="text-align: left; margin-left: 2em;color: #450d45;"><b> Mean real data: </b><span style="color: black; text-decoration-line: underline ">{{ real_data[column].mean()|round(4) }}</span></p>
                                    <p style="text-align: left; margin-left: 2em;color: #10878f;"><b>Mean synthetic data: </b><span style="color: black; text-decoration-line: underline ">{{ synthetic_data[column].mean()|round(4) }}</span></p>
                                    <p style="text-align: left; margin-left: 2em;color: #450d45;"><b>Standard deviation real data: </b><span style="color: black; text-decoration-line: underline ">{{ real_data[column].std()|round(4) }}</span></p>
                                    <p style="text-align: left; margin-left: 2em;color: #10878f;"><b>Standard deviation synthetic data: </b><span style="color: black; text-decoration-line: underline ">{{ synthetic_data[column].std()|round(4) }}</span></p>
                                {% endif %}
                                <!-- if the data type is object, we have to show the mode -->
                                {% if real_data[column].dtype == 'object' %}
                                    <p style="text-align: left; margin-left: 2em;color: #450d45;"><b>Mode real data:</b> <span style="color: black; text-decoration-line: underline ">{{ real_data[column].mode()[0] }}</span></p>
                                    <p style="text-align: left; margin-left: 2em;color: #10878f;"><b>Mode synthetic data:</b> <span style="color: black; text-decoration-line: underline ">{{ synthetic_data[column].mode()[0] }}</span></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- if there are 4 buttons already or the last button we have to close the row -->
            {% if loop.index % 4 == 0 or loop.last %}
                </div>
            <!-- if there is more columns we have to make a new row -->
                {% if loop.index < real_data.columns|length %}
                    <div class="row" style="margin-top: 2em">
                {% endif %}
            {% endif %}
            {% endfor %}
    </div>
        <!-- Similar set of buttons as above,but with pairs of numeric columns and if you click the button it will show covariance of both columns -->
    <h1 style="margin-top: 20px; color: #198754; text-decoration-line: underline;">Covariance comparison</h1>
    <p style="margin-top: 20px; text-align: center; width: 70em">In the following buttons you can see the covariance between the real and synthetic data of each pair of numeric columns. When you click on a button, a pop-up window will show you a plot with the covariance between the real and synthetic data of that pair of columns.</p>

   <div class="CovarianceComparison">
        <div class="row" style="margin-bottom: 2em; margin-top: 1em">
            {% for column1, column2 in column_pairs %}
            <div class="col" style="display: grid; justify-content: center; align-items: center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#{{id + column1 + column2}}" style="width: 9em;">
                    {{column1}} - {{column2}}
                </button>
                <div class="modal fade" id="{{id + column1 + column2}}" tabindex="-1" aria-labelledby="{{id + column1 + column2}}Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="{{id + column1 + column2}}Label">Covariance graphic on attributes {{column1}} and {{column2}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="display: grid; justify-content: center; align-items: center">
                                <img src=".{{C_PLOT_PATH + id + column1 + column2}}.png" alt="Covariance graphic on attributes {{column1}} and {{column2}}" style="width: 100%">
                                <p style="text-align: left; margin-left: 2em;"><b> Covariance real data: </b><span style="color: black; text-decoration-line: underline ">{{ real_data[column1].cov(real_data[column2])|round(4) }}</span></p>
                                <p style="text-align: left; margin-left: 2em;"><b> Covariance synthetic data: </b><span style="color: black; text-decoration-line: underline ">{{ synthetic_data[column1].cov(synthetic_data[column2])|round(4) }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 and not loop.last %}
                </div>
                <div class="row" style="margin-top: 2em">
            {% endif %}
            {% endfor %}
        </div>
    </div>
        <!-- we have to calculate pearson cofficient r and the line y = a + bx, calculate a and b, r = sxy/sx*sy and b= sxy/s^2x a=av(y)-b*av(x) -->
    <h1 style="margin-top: 20px; color: #198754; text-decoration-line: underline;">Regression comparison</h1>
    <p style="margin-top: 20px; text-align: center; width: 70em">In the following buttons you can see the regression between the real and synthetic data of each pair of numeric columns. When you click on a button, a pop-up window will show you a plot with the regression between the real and synthetic data of that pair of columns.</p>
    <div class="RegressionComparison">
        <div class="row" style="margin-bottom: 2em; margin-top: 1em">
            {% for column1, column2 in column_pairs %}
            <div class="col" style="display: grid; justify-content: center; align-items: center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#{{id + column1 + column2 + 'reg'}}" style="width: 9em;">
                    {{column1}} - {{column2}}
                </button>
                <div class="modal fade" id="{{id + column1 + column2 + 'reg'}}" tabindex="-1" aria-labelledby="{{id + column1 + column2 + 'reg'}}Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="{{id + column1 + column2 + 'reg'}}Label">Regression graphic on attributes {{column1}} and {{column2}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="display: grid; justify-content: center; align-items: center">
                                <img src=".{{C_PLOT_PATH + id + column1 + column2 + 'reg'}}.png" alt="Regression graphic on attributes {{column1}} and {{column2}}" style="width: 100%">
                                <p style="text-align: left; margin-left: 2em;"><b> Pearson coefficient real data: </b><span style="color: black; text-decoration-line: underline ">{{ real_data[column1].corr(real_data[column2])|round(4) }}</span></p>
                                <p style="text-align: left; margin-left: 2em;"><b> Pearson coefficient synthetic data: </b><span style="color: black; text-decoration-line: underline ">{{ synthetic_data[column1].corr(synthetic_data[column2])|round(4) }}</span></p>
                                <p style="text-align: left; margin-left: 2em;"><b> Regression line real data: </b><span style="color: black; text-decoration-line: underline ">y = {{ (real_data[column2].mean() - (real_data[column1].cov(real_data[column2]) / real_data[column1].std()**2) * real_data[column1].mean())|round(4)}} + {{(real_data[column1].cov(real_data[column2]) / real_data[column1].std()**2)|round(4)}}x</span></p>
                                <p style="text-align: left; margin-left: 2em;"><b> Regression line synthetic data: </b><span style="color: black; text-decoration-line: underline ">y = {{ (synthetic_data[column2].mean() - (synthetic_data[column1].cov(synthetic_data[column2]) / synthetic_data[column1].std()**2) * synthetic_data[column1].mean())|round(4)}} + {{(synthetic_data[column1].cov(synthetic_data[column2]) / synthetic_data[column1].std()**2)|round(4)}}x</span></p>
                                <!-- Add r2 value, r2 = r^2-->
                                <p style="text-align: left; margin-left: 2em;"><b> R² (determination coefficient) real data: </b><span style="color: black; text-decoration-line: underline ">{{ ((real_data[column1].corr(real_data[column2]))**2)|round(4) }}</span></p>
                                <p style="text-align: left; margin-left: 2em;"><b> R² (determination coefficient) synthetic data: </b><span style="color: black; text-decoration-line: underline ">{{ ((synthetic_data[column1].corr(synthetic_data[column2]))**2)|round(4) }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 and not loop.last %}
                </div>
                <div class="row" style="margin-top: 2em">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <h1 style="margin-top: 20px; color: #198754; text-decoration-line: underline;">Download synthetic dataset</h1>
    <a href=".{{C_SYNTHETIC_PATH + id}}_s_{{file_name}}" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px">Download synthetic dataset</a>
    <a href="/generate" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px">Generate a distinct synthetic dataset</a>
</div>
<footer>
    <div class="footer">
        <nav class="navbar navbar-light bg-light" style="justify-content: center;">
            <div class="navbar-brand" style="display: flex; align-items: center; gap: 20px;">
                <img src="../static/images/logouca.png" alt="Logo herramienta uca" width="50" height="50" class="d-inline-block align-top">
                <div id="">Synthetic Data Generator</div>
                <p style="display: contents;">© 2024</p>
            </div>
        </nav>
    </div>
</footer>
{% endblock %}