{% extends 'base.html' %}

{% block head %}
<title>Synthetic data generator</title>
{% endblock %}

{% block body %}

<div class="d-flex align-items-center justify-content-center" style="margin-top: 10em">
    <div class="card">
        <div class="card-header">
            <h2>Contact the system administrator</h2>
        </div>
        <div class="card-body">
            <p class="card-text">If you have forgotten your password, please, contact the system administrator to get a new one.</p>
        </div>
    </div>
</div>

{% endblock %}