{% extends 'base.html' %}

{% block head %}
<title>Synthetic data generator</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/generate.css') }}">
<script>
    {% for dataset in datasets %}
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("synthetizer_{{dataset.id}}").addEventListener("change", function() {
            switch (document.getElementById("synthetizer_{{dataset.id}}").value) {
                case "fast_ml":
                    document.getElementById("enforce_min_max_valuesl_{{dataset.id}}").style.display = "none";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").style.display = "none";
                    document.getElementById("enforce_roundingl_{{dataset.id}}").style.display = "none";
                    document.getElementById("enforce_rounding_{{dataset.id}}").style.display = "none";
                    document.getElementById("epochsl_{{dataset.id}}").style.display = "none";
                    document.getElementById("epochs_{{dataset.id}}").style.display = "none";
                    document.getElementById("num_dis_txt_{{dataset.id}}").style.display = "none";
                    document.getElementById("options_3_{{dataset.id}}").style.display = "none";
                    document.getElementById("options_4_{{dataset.id}}").style.display = "none";
                    break;
                case "gaussian_copula":
                    document.getElementById("enforce_min_max_valuesl_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_roundingl_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_rounding_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochsl_{{dataset.id}}").style.display = "none";
                    document.getElementById("epochs_{{dataset.id}}").style.display = "none";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").value = "Yes";
                    document.getElementById("enforce_rounding_{{dataset.id}}").value = "No";
                    document.getElementById("num_dis_txt_{{dataset.id}}").style.display = "flex";
                    document.getElementById("options_3_{{dataset.id}}").style.display = "flex";
                    document.getElementById("options_4_{{dataset.id}}").style.display = "flex";
                    break;
                case "ctgan":
                    document.getElementById("enforce_min_max_valuesl_{{dataset.id}}").style.display = "none";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").style.display = "none";
                    document.getElementById("enforce_roundingl_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_rounding_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochsl_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochs_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochs_{{dataset.id}}").value = "300";
                    document.getElementById("enforce_rounding_{{dataset.id}}").value = "No";
                    document.getElementById("num_dis_txt_{{dataset.id}}").style.display = "none";
                    document.getElementById("options_3_{{dataset.id}}").style.display = "none";
                    document.getElementById("options_4_{{dataset.id}}").style.display = "none";
                    break;
                case "copulagan":
                    document.getElementById("enforce_min_max_valuesl_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_roundingl_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_rounding_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochsl_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochs_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochs_{{dataset.id}}").value = "500";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").value = "Yes";
                    document.getElementById("enforce_rounding_{{dataset.id}}").value = "No";
                    document.getElementById("num_dis_txt_{{dataset.id}}").style.display = "flex";
                    document.getElementById("options_3_{{dataset.id}}").style.display = "flex";
                    document.getElementById("options_4_{{dataset.id}}").style.display = "flex";
                    break;
                case "tvae":
                    document.getElementById("enforce_min_max_valuesl_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_roundingl_{{dataset.id}}").style.display = "block";
                    document.getElementById("enforce_rounding_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochsl_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochs_{{dataset.id}}").style.display = "block";
                    document.getElementById("epochs_{{dataset.id}}").value = "300";
                    document.getElementById("enforce_min_max_values_{{dataset.id}}").value = "Yes";
                    document.getElementById("enforce_rounding_{{dataset.id}}").value = "No";
                    document.getElementById("num_dis_txt_{{dataset.id}}").style.display = "none";
                    document.getElementById("options_3_{{dataset.id}}").style.display = "none";
                    document.getElementById("options_4_{{dataset.id}}").style.display = "none";
                    break;
            }
        });
    });
    {% endfor %}

</script>
{% endblock %}

{% block body %}
<header style="position: sticky; top: 0; z-index: 1;">
    <nav class="navbar navbar-light bg-light" >
        <a class="navbar-brand" id="title" href="/">
            <img src="../static/images/logouca.png" alt="Logo herramienta uca" width="50" height="50" class="d-inline-block align-top">
            <div id="title_char">Synthetic Data Generator</div>
        </a>
        <!-- 3 options at right of the nav bar -->
        <div class="form-inline">
            <a href="/" class="btn btn-outline-success apartado" style="font-size: 1.4em">Home</a>
            {% if user.is_authenticated: %}
                <a href="/logout" class="btn btn-outline-success apartado" style="font-size: 1.4em">Logout</a>
            {% else: %}
                <a href="/login" class="btn btn-outline-success apartado" style="font-size: 1.4em">Login</a>
            {% endif %}
            <a href="/generate" class="btn btn-outline-success apartado" style="font-size: 1.4em">Generate</a>
            <a href="/about" class="btn btn-outline-success apartado" style="font-size: 1.4em">About</a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="generate">
        <h1 class="text-center" style="margin-top: 1.2em; margin-bottom: 1.2em;">Welcome {{user.username}}!</h1>
        {% if datasets|length == 0: %}
        <div class="alert alert-warning" role="alert">
            <h2 class="alert-heading">No datasets available</h2>
            <p style="text-align: center;">There are no datasets available to generate synthetic data. Please, upload a dataset to generate synthetic data.</p>
        </div>
        <!-- Button to upload a dataset -->
        <div class="text-center" style="margin-top: 1.2em;">
            <a href="/upload" class="btn btn-outline-success" style="font-size: 1.4em;">Upload a dataset</a>
        </div>
        {% else: %}
        <div>
            <h2 class="alert-heading">Datasets available</h2>
            <!-- Table: 1st row - datasetid , 2nd row - dataset name, 3rd row download link -->

            <div id="warning_Fast_ML" style="text-align: center; display: block;">
                <p style="color: #997d0f; font-weight: bold;">*Warning: Fast ML synthetizer is deprecated, we advise you to try Gaussian Copula synthetizer instead.</p>
            </div>

            <div id="warning_CTGAN_TVAE" style="text-align: center; display: block;">
                <!-- if the number of rows of the dataset is high, avoid using CTGAN or TVAE, because they are slow -->
                <p style="color: #997d0f; font-weight: bold;">*Warning: If your dataset has a high number of rows, we advise you to try Gaussian Copula synthetizer instead of CTGAN, TVAE or CopulaGAN.</p>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">Dataset ID</th>
                        <th scope="col" style="text-align: center;">Dataset Name</th>
                        <th scope="col" style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dataset in datasets %}
                    <tr style="justify-content: center; align-items: center;">
                        <th scope="row" style="text-align: center;">{{dataset.id}}</th>
                        <td style="text-align: center;">{{dataset.name}}</td>
                        <td style="display: flex; justify-content: center; align-items: center;">
                            <!-- Form to send the dataset id to the server and generate synthetic data -->
                            <form action="/generate/{{dataset.id}}" method="post" style="margin-right: 10px; margin-top: 0; display: flex">
                            <div id="form_container_{{dataset.id}}" style="display: flex">
                                <div id="form_container_options_{{dataset.id}}">
                                    <div id="options_1_{{dataset.id}}" style="display: flex;">
                                        <label for="rows_{{dataset.id}}" class="form-label" style="display: flex; align-items: center; margin-right: 10px">Number of rows:</label>
                                        <input class="form-control" type="number" id="rows_{{dataset.id}}" name="rows_{{dataset.id}}" required style="width: 100px; margin-right: 10px">
                                        <!-- Select the type of synthetizer for the ones SDV offers -->
                                        <label for="synthetizer_{{dataset.id}}" class="form-label" style="display: flex; align-items: center; margin-right: 10px">Synthetizer:</label>
                                        <select class="form-select" id="synthetizer_{{dataset.id}}" name="synthetizer_{{dataset.id}}" required style="width: 170px; margin-right: 10px">
                                            <option value="fast_ml">Fast ML</option>
                                            <option value="gaussian_copula">Gaussian Copula</option>
                                            <option value="ctgan">CTGAN</option>
                                            <option value="copulagan">CopulaGAN</option>
                                            <option value="tvae">TVAE</option>
                                        </select>
                                    </div>
                                    <div id="options_2_{{dataset.id}}" style="display: flex; margin-top: 1em">
                                        <!-- input for enforce_min_max_values -->
                                        <label for="enforce_min_max_values_{{dataset.id}}" id="enforce_min_max_valuesl_{{dataset.id}}" class="form-label" style="display: none; align-items: center; margin-right: 10px">Enforce min max values:</label>
                                        <select class="form-select" id="enforce_min_max_values_{{dataset.id}}" name="enforce_min_max_values_{{dataset.id}}" required style="width: 100px; margin-right: 10px; display: none">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <!-- input for enforce_rounding -->
                                        <label for="enforce_rounding_{{dataset.id}}" id="enforce_roundingl_{{dataset.id}}" class="form-label" style="display: none; align-items: center; margin-right: 10px">Enforce rounding:</label>
                                        <select class="form-select" id="enforce_rounding_{{dataset.id}}" name="enforce_rounding_{{dataset.id}}" required style="width: 100px; margin-right: 10px; display: none">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <!-- input for epochs -->
                                        <label for="epochs_{{dataset.id}}" class="form-label" id="epochsl_{{dataset.id}}" style="display: none; align-items: center; margin-right: 10px">Epochs:</label>
                                        <input class="form-control" type="number" id="epochs_{{dataset.id}}" name="epochs_{{dataset.id}}" required style="width: 100px; margin-right: 10px; display: none" value="300">
                                    </div>
                                    <!-- Now we have to show all the columns of the dataset to select numerical_distributions for each one, this will be a select with the options of 'norm' 'beta', 'truncnorm', 'uniform', 'gamma' or 'gaussian_kde' -->
                                    <p id="num_dis_txt_{{dataset.id}}" style="display: none; margin-top: 1em">Select for each column the numerical distribution: </p>
                                    <div id="options_3_{{dataset.id}}" style="display: none; flex-direction: column; ">
                                        <div class="columns" style="display: flex; margin-top: 0.8em;">
                                        {% for column in datasets_objs[loop.index-1].columns %}
                                            <label for="{{column}}_{{dataset.id}}" class="form-label" style="display: flex; align-items: center; margin-right: 10px">{{column}}:</label>
                                            <select class="form-select" id="{{column}}_{{dataset.id}}" name="{{column}}_{{dataset.id}}" required style="width: 145px; margin-right: 10px">
                                                <option value="none" selected>None</option>
                                                <option value="norm">Norm</option>
                                                <option value="beta">Beta</option>
                                                <option value="truncnorm">Truncnorm</option>
                                                <option value="uniform">Uniform</option>
                                                <option value="gamma">Gamma</option>
                                                <option value="gaussian_kde">Gaussian KDE</option>
                                            </select>
                                            <!-- every 3 columns we add a break -->
                                            {% if loop.index % 3 == 0 %}
                                                </div>
                                                <div class="columns" style="display: flex; margin-top: 0.8em;">
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <div id="options_4_{{dataset.id}}" style="display: none; margin-top: 1em;">
                                        <!-- Label and select field of default_distribution -->
                                        <label for="default_distribution_{{dataset.id}}" class="form-label" style="display: flex; align-items: center; margin-right: 10px">Default distribution:</label>
                                        <select class="form-select" id="default_distribution_{{dataset.id}}" name="default_distribution_{{dataset.id}}" required style="width: 145px; margin-right: 10px">
                                            <option value="norm">Norm</option>
                                            <option value="beta">Beta</option>
                                            <option value="truncnorm">Truncnorm</option>
                                            <option value="uniform">Uniform</option>
                                            <option value="gamma">Gamma</option>
                                            <option value="gaussian_kde">Gaussian KDE</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="gen_btn" style="align-content: center">
                                    <button type="submit" class="btn btn-outline-success" id="GenButton">
                                        <label id="btext">Generate</label>
                                    </button>
                                </div>
                            </div>
                            </form>
                            <!-- Form to send the dataset id to the server and delete the dataset -->
                            <form action="/delete/{{dataset.id}}" method="post" style="margin-top: 0">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            <!-- Button to upload a dataset -->
            <div class="text-center" style="margin-top: 1.4em; margin-bottom: 1.4em;">
                <a href="/upload" class="btn btn-outline-success" style="font-size: 1.4em;">Upload a dataset</a>
            </div>
            <!-- Section with information about the synthetizers -->
            <div class="alert alert-info" role="alert">
                <h2 class="alert-heading">Synthetizers</h2>
                <p style="text-align: center;">The Synthetic Data Generator offers different synthetizers to generate synthetic data. The synthetizers available are:</p>
                <div class="SynthizerList">
                    <ul>
                        <li>Fast ML: A synthetizer based on the Fast ML library.</li>
                        <li>Gaussian Copula: A synthetizer based on the Gaussian Copula library.</li>
                        <li>CTGAN: A synthetizer based on the CTGAN library.</li>
                        <li>CopulaGAN: A synthetizer based on the CopulaGAN library.</li>
                        <li>TVAE: A synthetizer based on the TVAE library.</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<footer>
    <div class="footer" style="bottom: 0">
        <nav class="navbar navbar-light bg-light" style="justify-content: center;">
            <div class="navbar-brand" style="display: flex; align-items: center; gap: 20px;">
                <img src="../static/images/logouca.png" alt="Logo herramienta uca" width="50" height="50" class="d-inline-block align-top">
                <div id="">Synthetic Data Generator</div>
                <p style="display: contents;">© 2024</p>
            </div>
        </nav>
    </div>
</footer>
{% endblock %}