{% extends 'base.html' %}

{% block head %}
<title>Synthetic data generator</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/showdata.css') }}">
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("EvButton").addEventListener("click", function() {
            document.getElementById("EvButton").classList.add("button--loading");
            document.getElementById("btext").style.display = "none";
            console.log("Button clicked")
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="content">
    <h6 style="margin-top: 1em">Bellow you can see the first five rows of each dataset</h6>
    <div class="OriginalData" style="margin-bottom: 1.3em">
        <h2>Original Data</h2>
        <table>
            <tr>
                {% for column in real_data.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in real_data.head(5).values %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="SyntheticData" id="SyntheticDataset" style="margin-bottom: 1.3em">
        <h2>Synthetic Data</h2>
        <table>
            <tr>
                {% for column in synthetic_data.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in synthetic_data.head(5).values %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <a href=".{{C_SYNTHETIC_PATH + id}}_s_{{file_name}}" id="download_data" class="btn btn-outline-success" style="font-size: 1.4em;">Download synthetic data</a>

    <form action="/evaluate/{{id}}" method="post">
        <button type="submit" class="btn btn-success" id="EvButton" style="margin-bottom:1em; align-items: center; justify-content: center; display: flex;">
            <label id="btext">Evaluate</label>
        </button>
    </form>

</div>
{% endblock %}