{% extends 'base.html' %}

{% block head %}
<title>Synthetic data generator</title>
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="dataset" class="form-label">Insert a dataset</label>
              <input class="form-control" type="file" id="dataset" name="dataset" required>
            </div>
            <button type="submit" id="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

{% endblock %}