{% extends 'base.html' %}

{% block head %}
<title>Synthetic data generator</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="margin-top: 1.2em; margin-bottom: 1.2em;">Upload a dataset</h1>
    <p class="info text-center" style="color: #997d0f; font-weight: bold;">You can upload a dataset in CSV format to generate synthetic data.</p>
    <p class="info text-center" style="color: #997d0f; font-weight: bold;">The dataset must have a header with the column names, the data must be separated by commas.</p>
    <p class="info text-center" style="color: #997d0f; font-weight: bold;">Dataset headers must only contain alphanumeric characters, underscores ('_'), or periods ('.').</p>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="dataset" class="form-label">Insert a dataset</label>
              <input class="form-control" type="file" id="dataset" name="dataset" required>
            </div>
            <button type="submit" id="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

{% endblock %}